body {
    font-family: 'Lato';
    background-color: #1C2951;
    color: white;
    margin: 0;
    padding: 0;
    max-width: 700px;
}

.headpiece {
    display: flex;
    justify-content: space-between;
}

.indexlink {
    width: 100%;
}

.index {
    width: auto;
    text-align: center;
    background-color: green;
}

a {
    text-decoration: none;
    color: white;
}

.head {
    padding: 10px;
}

.sitecontent {
    padding: 20px;
}

#leveltitle {
    text-align: center;
}

.hiddenclips {
    display: none;
}

.shownclips {
    display: block;
}

.hiddenguesser {
    display: none;
}

.shownguesser {
    display: block;
}

#soundclips {
    width: 100%;
    text-align: center;
}

#typeguessbox {
    width: 100%;
    text-align: center;    
}

#answerguess {
    padding: 5px;

}

#submitguessbutton {
    padding: 5px;
    background-color: lightblue;
    border: none;
}

#guesses {
    text-align: center;
    justify-content: center;
}

.guessclass {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: lightcoral;
    color: white;
    margin-top: 2px;
}

.correctguess {
    background-color: lightgreen;
}

audio {
    width: 80%;
}