body {
    font-family: 'Lato';
    background-color: #1C2951;
    color: white;
}

.headpiece {
    display: flex;
    justify-content: space-between;
}

.index {
    width: auto;
}

a {
    text-decoration: none;
    color: white;
}

.head {
    padding: 5px;
}

.hiddenclips {
    display: none;
}

.shownclips {
    display: block;
}

.hiddenguesser {
    display: none;
}

.shownguesser {
    display: block;
}