{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    {% if level %}
        <div id="leveltitle">Level {{ level }} - {{ date_used }}</div>
            
        <br/>

        <div id="titlebox"><h3>
            {% if is_correct or (stage_on and stage_on > 5) %}
                {{ movie_title }}
            {% else %}
                What movie is this from? <br/>
            {% endif %}
        </h3></div>

        <div id="resultsbox">
            {% if is_correct %}
                Correct in {{ stage_on }}
            {% endif %}
        </div>

        <div id="guesses">
            {% for guess in guesses %}
                <div class="guessclass">{{ guess }}</div> <br/>
            {% endfor %}
        </div>
        
        <div id="soundclips">
            {% for stage in stages %}
                <div class="audioclip hiddenclips" id="clip{{ stage.count }}">
                    <audio src="https://{{ bucket }}.s3.amazonaws.com/{{ stage.url }}" controls></audio> <br/>
                </div> <br/>
            {% endfor %}
        </div>
        
        <div id="typeguessbox">
            {% if not is_correct and stage_on and stage_on <= 5 %}
                <form id="guessform" class="shownguesser" method="post">

                    <div class="answerbox">
                        <input type="text" name="answer"
                            placeholder="Guess a movie"
                            id="answerguess"
                            oninput="searchAssist('{{ api_url }}')">
                        </input>

                        <button id="submitguessbutton" type="button" onclick="makeGuess('{{ api_url }}', '{{ level }}')" class="btn btn-primary">Submit</button>
                    </div>

                    <div id="searchresults"></div>
                </form>
            {% endif %}
        </div>

    {% else %}
        No level rn.
    {% endif %}
</div>
<script>

    function showAudio(num, correct) {
        var clips = document.getElementsByClassName('audioclip');
        for (var i in clips) {
            if (i < num) {
                clips[i].className = 'audioclip shownclips';
            }
            else {
                clips[i].className = 'audioclip hiddenclips';
            }
        }
        if (correct) {
            var guesses = document.getElementsByClassName('guessclass');
            guesses[guesses.length-1].className = 'guessclass correctguess'
        }
    }
    showAudio(
        {% if is_correct %}
            6
        {% else %}
            {{ stage_on }}
        {% endif %},
        {% if is_correct %}
            true
        {% else %}
            false
        {% endif %}   
    )

    function searchAssist(base_url) {
        title = document.getElementById('answerguess').value;
        search_results = document.getElementById('searchresults');
        fetch(`${base_url}/search/${title}`)
        .then(response => {
            return response.json();
        })
        .then(results => {
            search_results.innerHTML = results.results.map(movie =>
                `<button type="button" onclick="fillGuess(\`${movie.title}\`)"><div>${movie.title} (${movie.year})</div></button><br/>`
            )
        });
    }

    function fillGuess(filler) {
        document.getElementById('answerguess').value = filler;
    }

    function makeGuess(base_url, level) {
        answer = document.getElementById('answerguess').value;
        fetch(`${base_url}/check`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "guess": answer,
                "level": level
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            is_correct = data.correct;
            stage = data.next_stage;
            document.getElementById('answerguess').value = "";
            showAudio(stage, is_correct)
            if (is_correct == true || stage > 5) {
                document.getElementById("titlebox").innerHTML = `<h3>${data.title}</h3>`;
                document.getElementById("guessform").className = 'hiddenguesser';
                document.getElementById('resultsbox').innerHTML = "<h4>Correct</h4>";
            }
        })
    }

</script>
{% endblock %}