{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    Level {{ level }} - {{ date_used }} <br/>

    What movie's this from? <br/>
    
    {% for stage in stages %}
        <div class="audioclip hiddenclips" id="clip{{ stage.count }}">
            <audio src="https://blindmoviebucket.s3.amazonaws.com/{{ stage.url }}" controls></audio> <br/>
        </div> <br/>
    {% endfor %}

    <form method="post">

        <div class="answerbox">
            <input type="text" name="answer"
                placeholder="Guess a movie"
                id="answerguess"
                oninput="searchAssist('{{ api_url }}')">
            </input>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div id="searchresults"></div>
    </form>
</div>
<script>
    function showAudio(num) {
        var clips = document.getElementsByClassName('audioclip');
        for (var i in clips) {
            if (i < num) {
                clips[i].className = 'audioclip shownclips';
            }
            else {
                clips[i].className = 'audioclip hiddenclips';
            }
        }
    }
    showAudio(1)

    function searchAssist(base_url) {
        title = document.getElementById('answerguess').value;
        search_results = document.getElementById('searchresults');
        fetch(`${base_url}/search/${title}`)
        .then(response => {
            return response.json();
        })
        .then(results => {
            search_results.innerHTML = results.results.map(movie =>
                `<div>${movie.title} (${movie.year})</div><br/>`
            )
            // let movies = results.results.map((movie) => 
            //     <div>{movie.title} {movie.year}</div>
            // );
            // console.log("B")
            // console.log(movies)
        });
    }
</script>
{% endblock %}