<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>valmeplz</title>
    </head>
    <body>
        <form method="post">
            <div id="gameexplanation">
                This is a daily movie game where you hear a soundbyte 
                from a movie and try to guess which movie it's from. The goal is to correctly 
                guess the movie in the fewest amount of guesses, but if you guess wrong after 
                hearing a clip, we'll give you another one that should make it easier. 
                There are five possible clips, so if you get it wrong for all five, you lose 
                that day's game.
            </div> <br/>

            <div id="valmessage">
                {{ message }}
            </div> <br/>

            Want to login?

            <div class="validatebox">
                What's your username?
                <input type="text" name="handle"
                    placeholder="Username" class="validateinput"
                    value="{{ request.form['handle'] }}">
                </input>

                What year was your favorite movie released?
                <input type="text" name="code"
                    placeholder="Year" class="validateinput"
                    value="{{ request.form['code'] }}">
                </input>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>

        <br/><br/>

        <form action="{{ url_for('register') }}" name="register" method="get" enctype="multipart/form-data">
            Don't have an account? <br/>
            <input type="submit" name="Quickly Register" value="register"/>
        </form>
    </body>
</html>